:root {
  --purple: #854dff;
  --Light-red: #ff5757;
  --white: #ffffff;
  --off-white: #f0f0f0;
  --light-grey: #dbdbdb;
  --smokey-grey: #716f6f;
  --off-black: #141414;
  --font-family: 'Poppins', sans-serif;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}
body {
  font-family: var(--font-family);
}


footer {
  text-align: center;
  font-size: 1.6rem;
  font-family: var(--font-family);
  color: var(--off-black);
  line-height: 24px;
  margin: 20px;
}
p > a {
  color: var(--purple);
}